.hero {
  background-color: #c081ff;
}
.column {
  background-color: white;
}

.label {
  color: black;
}
/* .box {
  background-color: white;
} */

@media only screen and (max-height: 1000px) {
  .hasil {
    height: 650px;
  }
  .menu {
    height: 800px;
  }
}

.navbar h1,
.navbar h2 {
  color: #8127db;
  font-size: 30px;
}
.box .login {
  background-color: #36dda5;
  font-weight: 500;
  font-size: large;
}
.menu {
  color: white !important;
  background-color: #c081ff !important;
}
/* .item-sidebar {
  background-color: #c081ff;
} */
.navbar {
  background-color: #36dda5 !important;
}
.item-sidebar a {
  color: white !important;
  background-color: #c081ff !important;
}
.item-sidebar a:hover {
  background-color: #36dda5 !important;
}
.menu-list {
  color: white !important;
  background-color: #c081ff !important;
}
.menu-list a {
  color: white !important;
  background-color: #c081ff !important;
}
.menu p {
  color: white;
}

.title {
  color: black !important;
}
.subtitle {
  color: black;
}
.table {
  background-color: white !important;
}
.table tr,
.table th,
.table td {
  color: black !important;
}
.box h1,
.box label {
  color: black !important;
}
.table td {
  color: black !important;
}
.ungu {
  background-color: #c081ff !important;
}
.button {
  color: white !important;
}
.tanggal {
  color: black !important;
}
.input {
  background-color: gainsboro !important;
  color: black !important;
}
.input ::placeholder {
  color: rgb(199, 22, 22) !important;
}
.select select {
  background-color: gainsboro !important;
}
.form-border {
  border: 5px solid #36dda5;
  border-radius: 8px;
}
.row {
  display: flex;
}
.p {
  color: black !important;
}
.h1 {
  color: black !important;
}
/* .item-sidebar {
  background-color: #36dda5;
  color: white;
} */

.keranjang-wrapper {
  position: relative;
  right: 0;
}
.text-black {
  color: black !important;
}
.text-white {
  color: white !important;
  text-align: center;
}
.card-body {
  background-color: lightgray !important;
}
.card-body .card-title,
.card-body .card-text {
  color: black !important;
  text-align: center;
}
.flex-container {
  border-radius: 15px;
  overflow: hidden;
}
.menu {
  border-top-right-radius: 15px; /* Membulatkan sudut kanan atas */
  border-top-left-radius: 0; /* Tidak ada border-radius di sudut kiri atas */
  border-bottom-right-radius: 0; /* Tidak ada border-radius di sudut kanan bawah */
  border-bottom-left-radius: 0;
  padding: 20px;
}
.hr {
  border-color: white;
}
.profile-pic {
  width: 50px; /* Ukuran lebar gambar */
  height: 50px; /* Ukuran tinggi gambar */
  border-radius: 50%; /* Membuat gambar menjadi bulat */
  object-fit: cover; /* Memastikan gambar tidak terdistorsi */
  border: 2px solid #fff; /* Menambahkan border putih (opsional) */
}
.tbody {
  background-color: white !important;
}
.kategori-aktif {
  background-color: #36dda5 !important;
  color: white !important;
}

.btn-success {
  background-color: #36dda5;
}

.modal-content {
  color: black; /* Ubah sesuai kebutuhan */
}
.bootstrap-modal .modal-content {
  background-color: white !important;
  color: black !important;
}
.modal-card-body {
  background-color: white !important;
}
.modal-card-head {
  background-color: white !important;
}
.modal-card-foot {
  background-color: white !important;
}
.modal-card-title {
  color: black !important;
  text-align: center;
}
/* .menu {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  z-index: 10;
}

.sidebar-container {
  position: relative; 
  padding-top: 20px; 
} */

.card {
  margin: 2px;
}

@media only screen and (max-height: 1000px) {
  .hasil {
    background-color: rgb(230, 230, 230) !important;
    height: 650px;
  }

  .menu-wrapper {
    /* height: 800px; */
    display: flex;
    flex-wrap: wrap;
  }
  
  .menu-wrapper .col-md-4 {
    /* flex-basis: calc(33.333% - 20px); Menyisakan sedikit ruang untuk margin */
    margin-bottom: 20px;
  }
}
.overflow-auto::-webkit-scrollbar {
  display: none;
}
.bootstrap-modal .modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}
.modal-content {
  background-color: #fff !important;
  border-radius: 5px !important;
}

.modal-header {
  border-bottom: 1px solid #dee2e6 !important;
}

.modal-footer {
  border-top: 1px solid #dee2e6 !important;
}
textarea {
  width: 100%; /* Lebar textarea memenuhi container */
  height: 200px; /* Ketinggian textarea */
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
/* .modal-header .btn-close {
  display: block;
  position: absolute;
  right: 1rem;
  top: 1rem;
} */
